<head>
  <link href="/stylesheets/bootstrap.min.css" type="text/css" rel="stylesheet">
  <link href="/stylesheets/style.css" type="text/css" rel="stylesheet">
</head>

<body>
    <div class="container">
    <h1>About me</h1>
    <div class="bg-blue">
      <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ullamcorper congue est quis tempor. Sed tristique eros non nibh euismod, ac mollis urna cursus. Sed vel mollis neque. Maecenas in porta dolor. Phasellus vel diam pretium, aliquet risus vitae, posuere mauris. Nulla sit amet egestas erat. Aenean quis orci volutpat, ullamcorper elit vel, molestie tortor. Mauris sed scelerisque leo. Suspendisse ut dapibus tellus. Phasellus id vehicula ligula, vehicula viverra neque. Cras ultrices lorem ac vestibulum lobortis. Quisque ut lacinia mi, a laoreet mauris.
      </p>
    </div>
  </div>
</body>
