<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>

<body>
  <div class="container well">

    {{{body}}}

    <footer>
        <p>
            <a class="btn btn-primary" href="/">Home</a> ~ <a class="btn btn-primary" href="/about">About Me</a>
        </p>
    </footer>
  </div>

  <div class="container">
    <h1 style="background-color: #e0aa2c; padding: 5px 10px 5px 10px;">Blog!</h1>

  {{#each entries}}
    <div class="bg-blue">
      <p>
          <a class="btn btn-default" href="/article/{{id}}">{{title}}</a><br/>
          Published: {{published}}
      </p>
    </div>
  {{/each}}
  </div>
</body>
</html>
